<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Upload gambar
    </h1>
    <form method="post" enctype="multipart/form-data" action="upload-gambar">
        <label>Upload gambar disini:</label><br>
        <label>Nama gambar:</label>
        <input type="text" name="nama"/>
        <label>Path gambar:</label>
        <input type="file" name="path"/>
        <input type="submit" />
    </form>
</body>
</html>